<header ng-include="'templates/header.html'"></header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <form ng-submit="sub()">
                    <input type="word" class="form-control" rows="3" ng-model="formData.word"></input>
                    <input type="wordDescription" class="form-control" rows="3" ng-model="formData.wordDesc"></input>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>