<header ng-include="'templates/header.html'"></header>

<form ng-submit="sub()">
    <section id="content">
        <div class="container">
            <div class="panel panel-default vcenter">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-4 title-left"> Administrator side </div>
                            <div class="col-md-4 title-middle"> Ny opgave </div>
                            <div class="col-md-4 title-right"> Dansk</div>
                        </div>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 padding">
                                    <h2>Navn på opgave</h2>
                                    <input type="text" class="form-control" rows="3" ng-model="formData.taskName"></input>
                                </div>
                            </div>

                            <div class="row">

                                <div>
                                    <div class="col-md-4 padding">
                                        <h2>Indsæt ord</h2>
                                        <input type="text" class="form-control" rows="3" ng-model="formData.word"></input>
                                        <a ng-click="addTag()" class="btn btn-primary fa fa-plus">Tilføj ord</a>

                                    </div>

                                    <div class="col-md-8">
                                        <ul class="tags">
                                            <li ng-repeat="tag in tags"><span class="tag text-center">{{tag.text}}<i ng-click="removeTag()">x</i></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12 padding">
                                    <h2>Indsæt ordbeskrivelse</h2>
                                    <textarea type="wordDescription" class="form-control" rows="3" ng-model="formData.wordDesc"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-offset-10 col-md-1 pull-right btnMargin">
                                    <button type="submit" class="btn btn-default btn-primary">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</form>