<header ng-include="'templates/header.html'"></header>

<body>
    <section id="content">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h1>News</h1>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Danish</div>
                <div class="col-md-8 col-centered btn btn-primary">Task 1 - The Sad Matthew</div>
            </div>

            <div class="row row-centered">
                <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Danish</div>
                <div class="col-md-8 col-centered btn btn-primary">Task 1 - The Sad Matthew</div>
            </div>

            <div class="row row-centered">
                <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Danish</div>
                <div class="col-md-8 col-centered btn btn-primary">Task 1 - The Sad Matthew</div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <h1>History</h1>
                </div>

                <div class="row row-centered">
                    <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Spanish</div>
                    <div class="col-md-8 col-centered btn btn-primary">Task 5 - The Happy Dreas</div>
                </div>

                <div class="row row-centered">
                    <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Spanish</div>
                    <div class="col-md-8 col-centered btn btn-primary">Task 5 - The Happy Dreas</div>
                </div>

                <div class="row row-centered">
                    <div class="col-md-2 col-md-offset-2 col-centered btn btn-primary">Spanish</div>
                    <div class="col-md-8 col-centered btn btn-primary">Task 5 - The Happy Dreas</div>
                </div>



            </div>
    </section>
</body>