<header ng-include="'templates/header.html'"></header>

<body>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div data-toggle="collapse" class="row">
                                    <div class="col-md-2 bluee"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Danish</a></div>
                                     <div class="title-middle col-md-offset-2 col-md-4">Danish</div>
                                      <div class="title-right col-md-4">Danish</div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum
                                    licebit. At hoc in eo M. Quae cum dixisset, finem ille. Est, ut dicis, inquam. Duo Reges:
                                    constructio interrete. Isto modo ne improbos quidem, si essent boni viri.
                                </p>
                            </div>
                            <a href="/tasktest">Start</a>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Collapsible Group 2</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
    </section>
</body>