<header ng-include="'templates/header.html'"></header>
<section id="content">
    <div class="container">
        <div class="panel panel-default vcenter">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-md-2 bluee">Dansk</div>
                        <div class="title-middle col-md-offset-2 col-md-4">{{tasks.taskName}}</div>
                        <div class="title-right col-md-4">Dansk</div>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div>
                                <h3><b>{{myTagId.text}}</b>betyder:</h3>
                                <p>
                                    {{myTagId.desc}}
                                </p>
                                <hr>
                                <label for="comment">Elevens svar</label>
                            </div>
                            
                                <p>{{answer}}</p>
                                <div class="panel-footer">
                            
                                   
                                    <a class="btn btn-primary pull-left"> Tilbage </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>