<section id="content">
  <div class="container">
    <h2>Signup</h2>
    <form action="/auth/signup" method="POST">
      <div class="control-group">
        <label>Email</label>
        <input type="email" data-type="text" name="email" required aria-label="Email">
      </div>
      <div class="control-group">
        <label>Password</label>
        <input type="password" data-type="text" name="password" required aria-label="Password">
      </div>
      <button type="submit" class="my-button">Signup</button>
    </form>
  </div>
</section>