 <header ng-include="'templates/header.html'"></header>
  <div class="col-md-offset-2 col-md-8 panel-group" id="accordion">
                
                <div class="panel panel-default">
                    
                    <div class="panel-heading">
                        
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Danish</a>
                            <p class="tid">Tid</p>
                            

                        </h4>
                        
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="row">
                            <div class="col-md-1 btn btn-primary">Insert Task Here</div>
                            <a class="title-middle" href="/tasktest2"><div class="col-md-2 col-md-offset-2 btn btn-primary"><p>Solve</p></div></a>
                            <a class="title-middle" href=""><div class="btn btn-primary col-md-2 col-md-offset-2"><p>Edit<p></div></a>
                            <div class="col-md-1 col-md-offset-2"><span class="glyphicon glyphicon-check"></span></div>
 
                            </div>
                   
                            
                                                
                        </div>
                        


                    </div>
                </div>