<header ng-include="'templates/header.html'"></header>
<div class="col-md-offset-2 col-md-8 panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Danish</a>
                <p class="tid">Tid</p>
            </h4>
        </div>

        <div ng-controller="taskCtrl">
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <ul ng-repeat="words in data">
                            <li>
                               
                               <!-- Ord med ID, Redirect til opgave side med korrekt ord.  -->

                               <a href="/tasktest2/{{words._id}}">{{words.word}}</a>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>