<header ng-include="'templates/header.html'"></header>
<div class="col-md-offset-2 col-md-8 panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Danish</a>
                <p class="tid">Tid</p>
            </h4>
        </div>

        <div ng-controller="taskTagsCtrl">
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="center-block col-md-8">
                            <ul class="tags">
                                <li ng-repeat="task in tasks">
                                    <a class="tag biggerTag" ng-click="tagId()" href="/tasktest2/{{taskId}}">{{task.text}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>