
body{
    background-image: url("/imgs/500.jpg");
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    opacity: 60%;
    width:100%;
    height:100%;
}
h1, h2{
}

textarea{
    resize: none;
}

hr{
    border-bottom:1px solid black;
}

.startBtn{
    position: absolute;
    right: 15px;
    border-radius: 0px;
    bottom: 58px;
}

body > ui-view > header > nav > div > div.row > ul > li > a{
    padding:0px;
}

.login-header{
    list-style: none;
    padding:0px;
    margin-top:20px;
    
}

.loginLogout{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-align: center;
    
}


.btn-block {
    width:0%;
}

.row-centered {
    text-align:center;
    margin-top: 15px;
}

.padding {
    padding-left: 40px;
    padding-right: 40px;
}

.btnMargin {
    margin-right: 15px;
    margin-top: 15px;
}
.col-centered {
    display: block;
    margin: 0, auto;
}

#content{
    margin-left:200px;
}

.tid{
    float:right;
}

.title-left{
    text-align:left;
}
.title-middle{
    text-align:center; 
    font-size: 20px;
    
}
.title-right{
    text-align:right;
}

.glyphicon{
    font-size:25px;
}

.panel-footer{
    height:50px;
}

.loginForm{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-top: 50px;
}


.panel-body{
        padding-bottom: 30px;
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.vcenter{
    margin-top:20%;
}

.frontpageHeader {
    color: white;
}

.wordDesc{
    font-size: 16px;
    font-weight: bold;
    padding-bottom:10px;
}

#bs-sidebar-navbar-collapse-1 > ul{
    width:100%;
    border-radius: 0px;
}

#stacked-menu > li > a{
    color:white;
    
}

#stacked-menu > li > a:hover{
    color:#8895a4;
    border-radius: 0px;
    
}

#stacked-menu > li > a:active{
    color:#8895a4;
    border-radius: 0px;
    
}

#stacked-menu > li > a:focus{
    color:#8895a4;
    border-radius: 0px;
    
}

#item1 > li > a{
    color:white;
}