
body{
    background-image: url("/imgs/500.jpg");
    
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.30);
     position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

h1, h2{
}

textarea{
    resize: none;
}

hr{
    border-bottom:1px solid black;
}

.startBtn{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.panel-body {
    position:relative;
}

body > ui-view > header > nav > div > div.row > ul > li > a{
    padding:0px;
}

.login-header{
    list-style: none;
    padding:0px;
    margin-top:20px;
    
}

.loginLogout{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-align: center;
    
}


.btn-block {
    width:0%;
}

.row-centered {
    text-align:center;
    margin-top: 15px;
}

.padding {
    padding-left: 40px;
    padding-right: 40px;
}

.btnMargin {
    margin-right: 15px;
    margin-top: 15px;
}
.col-centered {
    display: block;
    margin: 0, auto;
}

#content{
    margin-left:200px;
}

.tid{
    float:right;
}

.title-left{
    text-align:left;
}
.title-middle{
    text-align:center; 
    font-size: 20px;
    
}
.title-right{
    text-align:right;
}

.glyphicon{
    font-size:25px;
}

.panel-footer{
    height:50px;
}

.loginForm{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-top: 50px;
}


.panel-body{
        padding-bottom: 30px;
        
}


.tags {
    box-sizing: border-box;
    padding-top: 20px;
    list-style-type: none;
}

.tag {
    float:left;
    background-color: #34495e;
    color: #fff;
    display: block;
    font-weight: 400;
    border-radius: 1000px;
    padding: 8px 16px;
    padding-right: 30px;
    margin-right: 9px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    cursor: default;
    opacity: 1;
    transition: all 0.25s;
    -webkit-animation: taganimatein 0.25s;
    -moz-animation: taganimatein 0.25s;
    -ms-animation: taganimatein 0.25s;
    -o-animation: taganimatein 0.25s;
    animation: taganimatein 0.25s;
}

 .tags .tag i {
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 6px;
    font-weight: bold;
    font-style: normal;
    font-size: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.06);
    text-align: center;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border-radius: 1000px;
    cursor: pointer;
}

.biggerTag {
    font-size:15px;
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;

}
.navbar-brand{
        width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}



.vcenter{
    margin-top:20%;
}

.textShadow {
    text-shadow: 1px 1px #7D7D7D;
}


.frontpageHeader {
    color: white;
}

.wordDesc{
    font-size: 16px;
    font-weight: bold;
    padding-bottom:10px;
}

#bs-sidebar-navbar-collapse-1 > ul{
    width:100%;
    border-radius: 0px;
}

#stacked-menu > li > a{
    color:white;
    
}

#stacked-menu > li > a:hover{
    color:#8895a4;
    border-radius: 0px;
    
}

#stacked-menu > li > a:active{
    color:#8895a4;
    border-radius: 0px;
    
}

#stacked-menu > li > a:focus{
    color:#8895a4;
    border-radius: 0px;
    
}

#item1 > li > a{
    color:white;
}


/*MEDIA STUFF*/


@media only screen and (max-width: 1100px){
    


}



