.navbarMiddle{
margin-top: 300px;
font-size: 35px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.85) !important;
    border: 0;
    text-align:center;
}

body{
    background-image: url(/imgs/books-wallpaper-2.jpg);
}

.barSolid {

}

.btn-block {
    width:0%;
}

.row-centered {
    text-align:center;
    margin-top: 15px;
}

.col-centered {
    display: block;
    margin: 0, auto;
}
