y
body{
    /*background-image: url(/imgs/books-wallpaper-2.jpg);*/
    background-color:grey
}

.barSolid {

}

.btn-block {
    width:0%;
}

.row-centered {
    text-align:center;
    margin-top: 15px;
}

.col-centered {
    display: block;
    margin: 0, auto;
}
