
body{
    background-image: url("/imgs/books-wallpaper-2.jpg");
    background-size:cover;
    width:100%;
    height:100%;
}

.btn-block {
    width:0%;
}

.row-centered {
    text-align:center;
    margin-top: 15px;
}

.col-centered {
    display: block;
    margin: 0, auto;
}

#content{
    margin-left:200px;
}

.tid{
    float:right;
}

.title-left{
    text-align:left;
}
.title-middle{
    text-align:center; 
    color:white; 
}
.title-right{
    text-align:right;
}

.glyphicon{
    font-size:25px;
}

.panel-footer{
    height:50px;
}


.vcenter{
    margin-top:20%;
}