<header>
    <div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <!-- normal collapsible navbar markup -->
    
        <ul class="navbarMiddle nav nav-pills nav-stacked">  
            <a href="/"><li>Frontpage</li></a>
            <a href="/#/profile"><li>Classes</li></a>
            <a href="/#/signup"><li>Signup</li></a>
            <a href="/#/login"><li>Login</li></a>
            <a href="/#/login"><li>Settings</li></a>           
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">
      <!-- your page content -->
    </div>
  </div>
</div>
</header>